body {
  text-align: center;
  background-color: rgb(194, 171, 171);
}

ul {
  text-align: center;
  background-color: aqua;
  
}

#div1 {
  margin: 0; 
}

#div2 {
  height: auto;
  width: 300px;  
  margin: auto;

}

form {
  justify-content: center;
}