body {
  text-align: center;
  background-color: rgb(194, 171, 171);
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  align-items: center;

}



#div2 {
  width: 300px;  
  margin: auto;
}

li {
  display: flex;
  align-items: center;
  column-gap: 80px;
  overflow-wrap: break-word;
}








